@charset "UTF-8";
/* CSS Document */

ul, li {margin:0; border:0; padding:0; list-style:none;}



.mess {
	display:block;
	font-size:0px;
	width:930px;
	height:inherit;
	padding-top:40px;
	margin-left:auto;
	margin-right:auto;
}

.mess ul.frielist {
	display:inline-block;
	width:300px;
	font-size:12px;
	vertical-align:top;
}

.mess ul.frielist li.sel {
	background-color:#D9D9D9;
	width:290px;
}

.mess ul.frielist li {
	width:290px;
}

.mess ul.frielist li ul li {
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	position:relative;
	top:4px;
	margin-left:15px;
	width:160px;
	height:16px;
	padding:0;
}

.mess ul.frielist li ul li.name {
	font-weight:bold;
	height:16px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.spl {
	display:inline-block;
	width:1px;
	max-width:1px !important;
	border:2px #FFFFFF solid;
	min-height:600px;
	height:inherit;
	background-color:#000000;
}

.mess ul.meslist {
	display:inline-block;
	position:relative;
	width:625px;
	font-size:12px;
	vertical-align:top;
	min-height:600px;
}

.mess ul.meslist li {
	display:block;
	position:relative;
	margin-left:15px;
}

.mess ul.meslist li.send {
	background-color:#D9D9D9;
	width:610px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
	margin-bottom:15px;
	margin-left:0px;
}

.mess ul.meslist li.send input {
	width:380px;
	height:26px;
	position:relative;
}

.mess ul.meslist li.send button {
	background-color:#0066FF;
	color:#FFFFFF;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	height:26px;
	width:65px;
	top:1px;
	top:2px\9;
	position:relative;
	margin-left:5px;
	border:1px #0066FF solid;
	cursor:pointer;
}

.mess ul.meslist li.send button:hover {
	background-color:#06C;
}

.mess ul.meslist li.send button:active {
	border:1px #09F solid;
}

.mess ul.meslist li ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:0;
	vertical-align:top;
	margin-left:15px;
	position:relative;
	min-width:485px;
	max-width:485px;
	color:#000000;
}

.mess ul.meslist li ul li.clo {
	height:16px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:break-word;
}


.mess ul.meslist li ul li.exp {
	overflow:visible;
	white-space:pre;
}

.mess ul.meslist li ul li.name {
	font-weight:bold;
	height:16px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.mess ul.meslist li ul li label {
	margin-left:10px;
	color:#666666;
}

.mess ul li {
	color:#333333;
	display:inline-block;
	width:595px;
	padding-left:10px;
	padding-bottom:6px;
	padding-top:6px;
	font-size:0px;
	vertical-align:top;
}

.mess ul li a ul {
	display:inline-block;
	width:200px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FF0000;
	vertical-align:top;
}

.mess ul li a ul.pic {
	display:inline-block;
	width:40px;
	height:40px;
	vertical-align:top;
}

.mess ul li a ul.pic img {
	width:40px;
	height:40px;
}

.mess ul li a ul.source {
	display:inline-block;
	width:40px;
	height:40px;
}

.mess ul li a ul.source img {
	position:relative;
	top:5px;
	left:5px;
	width:30px;
	height:30px;
}

.mess ul li a ull li {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	width:580px;
}

#nmsg {
	position:relative;
	top:35px;
	left:50%;
	width:180px;
	height:30px;
	margin-left:280px;
	border:2px #333333 solid;
	border-radius:5px;
	background-color:#99CCFF;
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	cursor:pointer;
}

.msgb {
	display:none;
	
	position:absolute;
	left:50%;
	top:160px;	
	margin-left:-180px;

	border:2px #333333 solid;
	border-radius:10px;
	background-color:#D9D9D9;
	color:#000000;
	width:380px;
	height:200px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	
	z-index:100;
}

.msgb ul {
}

.msgb ul li {
	width:360px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
}

.msgb ul li input {
	width:320px;
	height:20px;
	margin-left:5px;
}

#gmsubject {
	display:block;
}

#gmsubject input {
	width:281px;
	height:20px;
	margin-left:6px;
}

.msgb ul li.splt {
	height:1px;
	background-color:#666666;
	width:355px;
	margin-top:5px;
	margin-bottom:5px;
}

.msgb ul li button {
	position:relative;
	left:160px;
	margin-right:10px;
	background-color:#99CCFF;
	border:2px #333333 solid;
	border-radius:5px;
	width:90px;
	height:30px;
	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	color:#333333;
	
	cursor:pointer;
}

.msgb ul li textarea {
	width:350px;
	height:80px;
	resize:none;
}

.bgg {
	width:100%;
	height:100%;
	background-color:#777;
	opacity:0.7;
	z-index:80;
}

.hidrdo {
	display:none;
}

.msgb ul li label{
	margin-left:5px;
}

#ptw {
	display:inline-block;
	background: url(../image/twitter.png) no-repeat left;
	background-size:24px 24px;
	width:24px;
	height:24px;
	position:relative;
	top:5px;
}

#pgm {
	display:inline-block;
	background: url(../image/gmail.png) no-repeat left;
	background-size:24px 24px;
	width:24px;
	height:24px;
	position:relative;
	top:5px;
}

#gltw {
	display:inline-block;
	background: url(../image/gltw.png) no-repeat left;
	background-size:24px 24px;
	width:24px;
	height:24px;
	position:relative;
	top:5px;
}

#glgm {
	display:inline-block;
	background: url(../image/glgm.png) no-repeat left;
	background-size:24px 24px;
	width:24px;
	height:24px;
	position:relative;
	top:5px;
}